
/*font-family: 'Alegreya Sans', sans-serif; other */
/*font-family: 'Chango', cursive; header*/

body{ 
	background-image:url('../images/bg.jpg');
	background-repeat:repeat; 
	color: #333;
	font-family: 'Alegreya Sans', sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
}

html, body{
	height: 100%;
}

a{
	text-decoration: none;
	color: #108edc ;
}

.main-menu .menu-item:hover, a:hover{
	color: #009CC3;
}

.center{
	width: 80%;
	margin: 0 auto;
}
.gaz-logo{
	font-family: 'Chango', arial; 
	margin-right: 3em;
	font-size: 1.3em;

}
.gaz-logo h1{
	color: black;
}


.gaz-logo h1 small{
	color: #888;
	font-size: 0.3em;
}

.main-menu, .gaz-logo{
	display: inline-block;
}
.main-menu{
	margin-bottom: 2em;
}

.menu-item{
	font-size: 1.2em;
	margin-right: 1em;
	color: #333;
}

.home-item .title h2{
	font-family: 'Chango', arial; 
}

.home-item.crawl .image, .home-item.index .image{margin-left: 0.3em}
.home-item.retrieve .image{margin-left: -0.6em}

.main-content.home{
	width: 100%;
	margin: 0 auto;
}

.home-item{
	padding: 1em;
	width: 25%;
	text-align: center;
	height: 15em;
	display: inline-block;
	margin: 2em 1em 0 0;
	position: relative;
}

.home-item .image{
	font-size: 5em;
}

.home-item .button{
	position: absolute;
	bottom: 1.5em;
	left: 30%;
}

a .home-item{
	color: #333;
}

.home-item:hover{
    background: rgba(150, 150, 150, 0.1);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.home-item:hover .title{
	color: #009CC3;
}


.Crawler .input{
	width: 355px;
	margin-top: 1em;
}

.main-content .navigator{
	margin-bottom: 2em;
}

.main-content .clr{
	margin: 1em;
}

.clr{
	clear: both;
}

.main-content.Crawler .segment{
	line-height: 150%;
	width: 99.7%;
	overflow-y: auto;
	height: 18em;
	/*min-height: 12em;*/
}

.main-content{
	position: relative;
	z-index: 1;
}

.url-stats h4{
	color: #00a65a;
}


.url-stats{
	position: absolute !important;
	overflow-y: auto;
	right: 0;
	top: 0;
	max-height: 20em;
	min-height: 5em;
	width: 45%
}

table th{
	text-align: center !important;
}

.url-stats .table{
	text-align: left;
	width: 100%;
	margin: 0 auto;
	height: auto;
}

.url-stats .table .checkmark{color: green;}
.url-stats .table .remove{color: red;}

.url-stats{
	text-overflow:ellipsis;
	z-index: 10;
}
.left-content{
	width: 50%;
}

.other{
	margin-top: 3em;
}

.search-input, .index-button{
	margin: 0em 0 0 2em !important;
}

.table.wrap {
	/*overflow-y: auto;*/
	max-height: 350px;
}

/*thead > tr, tbody{
    display:block;
}*/

.table.page .page.title{
	text-align: left;
	padding: 5px;
}

.table.page .page.index{
	text-align: center;
	padding: 5px;
}

.table.page .icon.add {
	color: green;
	cursor: pointer;
}

.alert.stack{
	position: fixed;
	top: 10px;
	right: 20px;
	z-index: 10000;
}

.alert.stack .alert{
	min-width: 200px;
	/*max-height: 60px;*/
	/*overflow: hidden;*/
	background-color: rgba(250,250,0,0.7);
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
}

.alert.stack .alert.error{
	background-color: rgba(250, 0, 0, 0.7);
}

.alert.stack .alert.success{
	background-color: rgba(0, 250, 0, 0.7);
	/*color: white;*/
}

#status{
	color: green;
}

#status.error{
	color: red;
}